/* Login Component Styles*/
.box-login{
  padding-right:52px;
  height:468px;
}
.login-danger{
  margin-top:-6px;
  margin-bottom:12px;
  margin-left:5%;
  margin-right:7%;
  padding-top:18px;
}
.login_property{
  margin-left:35%;
  width:30%;
  height:52px;
  top:0px;
}
.success_reset{
  padding-top:15px;
  top:0px;
  margin-left:35%;
}
.reset_login{
  margin-left:5%;
  padding-top:14px;
  top:0px;
}
.reset_reset{
  right:7%;
  padding-top:5px;
  margin-left:0px;
  top:0px;
}
.password_match_button{
  width: 33%;
  height: 52px;
  left: 32%;
}
.forgot login{
  right: 28px;
  font-size: 15px;
  top:35px;
}
.credential-intro{
  color:#9B9B9B;
  margin-left:5%;
  margin-bottom:15px;
  font-size:15px;
}
.heading{
  color:#007AFF;
  margin-bottom:30px;
  padding-left:5px;
  margin-top:40px;
}
.alert-danger{
  font-size:14px;
  border-radius:0px;
  border-color:#c82e29;
}
.password_success{
  margin-left:35%;
  margin-right:35%;
  margin-bottom:2%;
  height: 52px;
  width: 30%;
  padding-top: 14px;
}