<sd-toolbar></sd-toolbar>
<sd-navbar [loggedInPlatforms]="loggedInPlatforms"></sd-navbar>
<p>This is a boilerplate of angular4-django with login functionality.</p>

<h2 i18n>FrontEnd Features</h2>
<ul>
  <li>Ready to go, statically typed build system using Gulp for working with TypeScript.</li>
  <li>Production and development builds.</li>
  <li>Sample unit tests with Jasmine and Karma including code coverage via Istanbul.</li>
  <li>End-to-end tests with Protractor.</li>
  <li>Development server with live reload.</li>
  <li>TypeScript definition management using Types.</li>
  <li>Basic Service Worker, which implements "Cache then network strategy".</li>
  <li>MeView service so that only authenticated ones can view the home page else go to login page using router canActivate</li>
</ul>

<h2 i18n>BackendEnd Features</h2>
<ul>
    <li>Knox login-logout functionality</li>
    <li>Only frontend server allowed on allowed_hosts for backend accessibility</li>
    <li>Need to add a local.py file for backend functionality for development purposes which includes the secret key and is a replica of local_template.py</li>
    <li>Used SQLite database</li>
    <li>Waitress can be configured to nginx configuration</li>
</ul>
